{% extends "blog/base.html" %}
{% load static %}

{% block extra_css %}
<link  href="{% static 'base/maxcdn.bootstrapcdn.com_bootstrap_4.5.2_css_bootstrap.min.css'%}" rel="stylesheet">
<style>
    #carouselExampleIndicators {
        width: 100%; /* 滚动框宽度设为100% */
        height: 100%; /* 滚动框高度设为100% */
    }
    .carousel-inner img {
        height: auto; /* 图片高度自动 */
        max-height: 100%; /* 图片最大高度为100% */
        width: auto; /* 图片宽度自动 */
        max-width: 100%; /* 图片最大宽度为100% */
        margin: 0 auto; /* 图片水平居中 */
    }
</style>
{% endblock %}

{% block extra_js %}
<script src="{% static 'base/ajax.googleapis.com_ajax_libs_jquery_3.5.1_jquery.min.js' %}"></script>
<script src="{% static 'base/cdnjs.cloudflare.com_ajax_libs_popper.js_1.16.0_umd_popper.min.js' %}"></script>
<script src="{% static 'base/maxcdn.bootstrapcdn.com_bootstrap_4.5.2_css_bootstrap.min.css' %}"></script>
{% endblock %}
{% block content %}
<div class="content-section pt-2 mt-3 shadow-lg">
<!-- Bootstrap的轮播组件（Carousel）-->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a>
                    <img src="{% static 'home/img.png' %}" class="d-block w-100" alt="Image 1">
                </a>
                <div class="carousel-caption">
                    欢迎使用本系统！
                </div>
            </div>
            <div class="carousel-item">
                <a href="{% url 'gpt-audio' %}">
                    <img src="{% static 'home/img_1.png' %}" class="d-block w-100" alt="Image 2">
                </a>
                <div class="carousel-caption">
                    进入语音交互功能！
                </div>
            </div>
            <div class="carousel-item">
                <a href="{% url 'post-create' %} ">
                    <img src="{% static 'home/img_2.png' %}" class="d-block w-100" alt="Image 3">
                </a>
                <div class="carousel-caption">
                    进入朋友圈文本生成功能！
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
{% endblock content %}



